<%- include('partials/head') %>
<%- include('partials/navbar') %>

    <h1>The Home Page <%= 'hello world' .toUpperCase() %>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus provident omnis placeat ab illo non,
        repellat facilis sunt ullam, voluptate sapiente. Ipsum voluptatum ad libero voluptates! Quo totam nesciunt
        doloremque.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, pariatur quaerat. Quibusdam architecto sint non
        consequatur veniam, voluptas dolores suscipit quod ea? Voluptatibus earum eligendi vero delectus commodi dolore
        magnam?</p>
<%- include('partials/footer') %>