<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 'hello world' .toUpperCase() %>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus provident omnis placeat ab illo non,
        repellat facilis sunt ullam, voluptate sapiente. Ipsum voluptatum ad libero voluptates! Quo totam nesciunt
        doloremque.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, pariatur quaerat. Quibusdam architecto sint non
        consequatur veniam, voluptas dolores suscipit quod ea? Voluptatibus earum eligendi vero delectus commodi dolore
        magnam?</p>
</body>

</html>